<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="attributeMigrationTextToSelect" xsi:type="object">DanielMaier\AttributeMigration\Command\TextToSelect</item>
                <item name="attributeMigrationBooleanToSelect" xsi:type="object">DanielMaier\AttributeMigration\Command\BooleanToSelect</item>
            </argument>
        </arguments>
    </type>
</config>